{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block main %}
    

<main>
    <section class="firstSection">
      <div class="left">
        Hi, I'm
        <div><span class="purple">Muhammad Hassan</span></div>
        <div>
          And I am a
          <div><span class="purple">Python Programmer</span></div>
          <!-- <div><span id="element"></span></div> -->
          <!-- button -->
          <div class="button">
            <a href="/resume"><button class="btn1">My Resume</button></a>
            <a href="https://github.com/muhammad-hassn"><button class="btn2">
              GitHub
            </button></a>
          </div>
        </div>
      </div>
      <div class="right">
        <img src="/static/img/nana.png.png" style="width: 450px" alt="png" />
      </div>
      <br />
    </section>
    <section class="secondSection"></section>
  </main>
{% endblock main %}